body{
    background-color: rgba(255, 166, 0, 0.835);
}
#app{
    display: flex;
    justify-content: center;
}

#messaggio{
    position: absolute;
    top: 30px;
    color: white;
    z-index: 1;
    font-size: 4rem;
    transform: scaleX(1.5);
    text-transform: uppercase;
}

.sfondo{
    height: 100vh;
    position: relative;
}
